@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 text-base font-roboto bg-lightGrey dark:bg-darkGrey text-darkGrey dark:text-lightGrey;
  }

  #root {
    @apply flex items-center min-h-screen
  }
  
  a {
    text-decoration: none;
  }
}

@layer components {
  /* Heading */
  .heading {
    @apply relative text-3xl font-bold text-center flex items-center w-max mx-auto after:-right-10 before:-left-10 after:absolute before:absolute after:w-6 before:w-6 after:h-6 before:h-6 after:border-4 before:border-4 after:border-solid before:border-solid before:border-darkGreen dark:before:border-lightGreen after:border-darkGreen dark:after:border-lightGreen
  }

  .heading-border {
    @apply block w-20 h-1 mx-auto mt-2 rounded-3xl bg-darkGreen dark:bg-lightGreen
  }

  /* Button */
  .btn {
    @apply h-10 rounded-xl block text-base relative overflow-hidden cursor-pointer bg-darkGrey dark:bg-lightGrey text-lightGrey dark:text-darkGrey
  }

  .btn span {
    right: -200px;
    @apply absolute top-0 w-full h-full flex items-center justify-center custom-transition
  }

  .btn:hover span {
    @apply right-0 rounded-xl bg-darkGreen dark:bg-lightGreen
  }
}

@layer utilities {
  .custom-transition {
    transition: all 0.4s ease-in-out;
  }
}