@mixin large-container {
  width: 80%;
  margin: 0 auto;
}

@mixin small-container {
  width: 90%;
  margin: 0 auto;
}

@mixin large-container-padding {
  padding: 0 10% 0 10%;
}

@mixin small-container-padding {
  padding: 0 5% 0 5%;
}