// We use css variables to toggle dark theme easily
:root {
  --main-color: #4E3C51;
  --secondary-color: #8D818F;
  --text-color: #292B2C;
  --back-color: #E3E3E3;
}

$regular-font: 400;
$bold-font: 700;
$black-font: 900;